body {
    font-family: sans-serif;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    background-image: url('GCwatermark.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bold {
    font-weight: bold;
    background-color: rgba(211, 211, 211, 0.5);
}


th,
td {
    padding: 5px;
    white-space: nowrap;
}

div {
    width: min-content;
}

tbody tr:nth-last-child(2) td {
    padding-bottom: 140px;
}

#previewImg {
    width: 100%;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

#maindata {
    position: relative;
}

#gclogo {
    height: 60px;
    position: absolute;
    top: 6px;
    left: 10px;
}