body {
    width: 95vw;
}

center,
input,
select,
button,
td,
th {
    font-family: "Times New Roman", Times, serif !important;
}

#table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    background-image: url('GCwatermark.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bold {
    font-weight: bold;
    background-color: rgba(211, 211, 211, 0.5);
}

#table td {
    padding: 5px;
    white-space: nowrap;
}

#table th {
    padding: 5px;
}

#table tbody tr:nth-last-child(2) td {
    padding-bottom: 140px;
}

#editor {
    border-collapse: collapse;
    text-align: center;
    white-space: nowrap;
    transform-origin: top left;
}

#editor input,
#editor select {
    width: 120px;
}

#editor button {
    font-size: 15px;
    padding: 5px;
}

@media (max-width: 767px) {
    #editor {
        font-size: 5px;
    }

    #editor td,
    #editor th {
        padding: 2px;
    }

    #editor input,
    #editor select {
        font-size: 5px;
        width: 30px;
    }

    #editor button {
        font-size: 8px;
        padding: 0px;
    }

    #table {
        font-size: 5px;
    }

    #table td {
        padding: 2px;
        white-space: nowrap;
    }

    #table th {
        padding: 2px;
    }
}

#outerbox {
    display: flex;
    width: 100%;
    flex-direction: row;
}

#outerbox form {
    border: 1px solid black;
    width: 50%;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#outerbox form input {
    width: 80%;
    margin: 10px;
    padding: 0px 5px;
    font-size: 12px;
    border: 1px solid #dfe1e4;
    border-radius: 10px;
    outline: 0;
}

#outerbox form select {
    width: 90%;
    margin: 10px;
    padding: 0px 5px;
    font-size: 12px;
    border: 1px solid #dfe1e4;
    border-radius: 10px;
    outline: 0;
}

button {
    width: 90%;
    margin: 10px;
    border: 0;
    background-color: rgb(247, 194, 20);
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

table {
    font-size: 16px;
}

#deletebutton {
    font-size: 4px;
    margin: 0;
}

@media (max-width: 767px) {
    table {
        font-size: 6px;
    }
}