body {
    font-family: sans-serif;
}
input,
select,
button,
td,
th {
    font-family: "Times New Roman", Times, serif !important;
}

#table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    transform-origin: top left;
    background-image: url('assets/images/dimoss.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#previewImg {
    width: 100%;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

#datarow td {
    border-top: 0;
    border-bottom: 0;
}

.double-top {
    border-top: 2px solid black;
}

.double-bottom {
    border-bottom: 2px solid black;
}

.double-left {
    border-left: 2px solid black;
}

.double-right {
    border-right: 2px solid black;
}

.single-top {
    border-top: 1px solid black;
}

.single-bottom {
    border-bottom: 1px solid black;
}

.single-left {
    border-left: 1px solid black;
}

.single-right {
    border-right: 1px solid black;
}

.no-top {
    border-top: 0;
}

.no-bottom {
    border-bottom: 0;
}

.no-left {
    border-left: 0;
}

.no-right {
    border-right: 0;
}

.bold {
    font-weight: bold;
}

.highlight {
    background-color: rgba(211, 211, 211, 0.5);
}

#totalrow {
    font-weight: bold;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#table td,
#table th {
    padding: 10px;
    white-space: nowrap;
}

#outerbox {
    display: flex;
    width: 100%;
    flex-direction: row;
}

form {
    border: 1px solid black;
    width: 50%;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 80%;
    margin: 10px;
    padding: 0px 5px;
    font-size: 12px;
    border: 1px solid #dfe1e4;
    border-radius: 10px;
    outline: 0;
}

select {
    width: 90%;
    margin: 10px;
    padding: 0px 5px;
    font-size: 12px;
    border: 1px solid #dfe1e4;
    border-radius: 10px;
    outline: 0;
}

button {
    width: 90%;
    margin: 10px;
    border: 0;
    background-color: rgb(247, 194, 20);
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

#table {
    font-size: 50px;
}

#editor {
    border-collapse: collapse;
    text-align: center;
}

#deletebutton {
    font-size: 4px;
    margin: 0;
}

div {
    width: min-content;
}

#heading {
    width: 99%;
    font-size: 55px;
    word-spacing: 5px;
    letter-spacing: 2px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 9px;
}

#maindata {
    padding: 10px;
}